body {
  overflow: visible;
}

.nav-item {
  color: white;
  border: solid white 2px;
  padding: 5px;
  margin-right: 10px;
}

.carousel {
  background-color: grey;
  opacity: 50%;
  height: 400px;
}

.carousel.slide {
}

.carousel-inner {
  margin-left: calc(50% - 300px);
  width: 600px;
  position: absolute;
}

img {

  height: 400px;
  width: 600px;
}

.submitbutton {
  display: flex;
  justify-content: center;
}